
.canvas_button {
	margin: 10px;
}

.upload-area {
    width: 770px;
    min-height: 150px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    margin: auto;
}

.upload-area:hover{
    cursor: pointer;
}

#upload-file figure {
    width: 150px;
}

#upload-file img{
    margin: auto;
    max-height: 150px;
    padding: 10px;
}