/**********                   Style CSS - Objets connectés                  **********/


/*****         Style ajouté       *****/


body {
    background-color: #f5f5f5;
}


/* Toutes les images de la page */
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Bloc du centre de la page */
#bloc_centre {
    background-color: white;
    /*min-height: 600px;*/
    margin-top: 66px;
}

/* Liens visités du bloc */
#bloc_centre a:visited {
    color: #337ab7;
}  

/** Titres **/

/* Titre de niveau 1 */
h1 {
    font-family: Arial, "Times New Roman";
    font-size: 3em;
    font-weight: bold;
    color: #333;
    margin-top: 40px;
    text-align: center;
}

/* Titre de niveau 2 */
h2 {
    font-family: "Liberation Serif", "Times New Roman";
    font-size: 3em;
    color: #39BF58;
}

/* Titre de niveau 3 */
h3 {
    font-family: "Trebuchet MS", "Sans serif"; 
    font-size: 2em;
    color: #0D5E97;
    text-indent: 50px;
}

/* Titre de niveau 4 */
h4 {
    font-weight: bold;
}

/* Paragraphe */
p {
    font-family: Arial, "Sans serif", "Trebuchet MS";
    font-size: 1.1em;
}


/****             Positionnement           ****/

/*** Version BUREAU ***/

/** En-tete  **/
header {
    width: 100% !important;
    height: 66px;
    background-color: #333;
    position: fixed;
    z-index: 1;
}

header>div>p {
    color: white;
    text-align: center;
    padding-top: 20px;
}


/** Bordure (barre latérale gauche) **/

.bordure {
    margin-top: 100px;
}

/* Texte de la bordure */
.bordure div p:first-child {
    font-weight: 900;
}

/* Liens de la bordure */
.bordure a:hover {
    font-weight: bold;
    color: #337ab7;
}

/* Liens visités de la bordure */
.bordure a:visited {
    color: #337ab7;
}

#outils{
    width: 80%;
    margin-bottom: 10px;
}




/** Pied de page **/

.pied-de-page {
    background-color: #333;
    height: 140px;
}







/* Liens du pied de page */
.pied-de-page div p a {
    color: white;
    font-size: 0.8em;
    text-align: center;
    line-height: 0px;
}





/*** Version MOBILE ***/

/** Menu **/

nav:nth-child(2) {
    width: 100%;
    height: 65px;
    background-color: #333;
    position: fixed;
    z-index: 1;
}

#menu-mobile {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    margin-top: 6px;
}

/* Fleche pour remonter en haut de la page */ 
#fleche {
    position: fixed;
    top: 485px;
    right: 5px;
}

/*****         Style par défaut       *****/

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 500px}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    padding-top: 80px;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;} 
}





.slidecontainer {
    width: 100%; /* Width of the outside container */
    margin-bottom: 10px;
}

.testVal {
    width: 20%;
}

#original {
    border-right: 1px solid #8c8b8b;
}

#photos-foot div{
    display: inline;
    padding: 5px !important;
    vertical-align: middle;
}

#generated-photos div{
    border-left: 1px solid #8c8b8b;
}

#photos-foot img{
    width: auto;
    max-height: 100px;
}

.arrow{
    margin-top: 20px;
    margin-bottom: 20px;
}

.arrow img{
    width: 50% !important;
}