body{
    background: #1D1D1D;
    font-family: helvetica, arial, serif;
}

.red{
    background-color: red;
    height: 15px;
}

.green{
    background-color: green;
}

.relative{
    position: relative;
}

#logo{
    height: 100%;
}

.img{
    float: left;
    width: auto;
    padding-right: 0;
}

#phototek{
    position: absolute;
    font-weight: bold;
    bottom: 0;
}

.wrap{
    padding: 0;
}

header{
    height: 60px;
    background-color: #181712;
    color: #BFBFBF;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 5px;
    padding: 5px;
}

#titre h1{
    text-align: center;
}

#userpic{
    margin-top: 7.5%;
    height: 80%;
    width: auto;
}